
debug/images/copy.png
debug/images/cut.png
debug/images/image.png
debug/images/new.png
debug/images/open.png
debug/images/paste.png
debug/images/printImage.png
debug/images/printText.png
debug/images/redo.png
debug/images/rotate180.png
debug/images/rotate270.png
debug/images/rotate90.png
debug/images/undo.png
debug/images/zoomin.png
debug/images/zoomout.png
